@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
        <li data-target="#myCarousel" data-slide-to="15"></li>
        <li data-target="#myCarousel" data-slide-to="16"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Banner/BannerChevrolet.png" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerBMW.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerAudi.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerHonda.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerFord.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerCitroen.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerKia.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerJeep.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerHyundai.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerNissan.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerMitsubishi.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerMercedes.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerToyota.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerVolkswagen.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerRenault.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BarnnerPeugeot.png" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/Banner/BannerVolvo.png" alt="Visual Studio" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row cardsVeiculos">
    <div class="col-md-3 cardVeiculos">
        <div class="card interiorCard" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Veiculos/Carros/Chevrolet/Onix/Onix 1.jpg" alt="Chevrolet Onix">
            <div class="card-body descriCarros">
                <h5 class="card-title">Onix LT 1.4 Automatico</h5>
                <p class="card-text">R$ 56.650</p>
                <a href="#" class="btn btn-primary">Ver Mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 cardVeiculos">
        <div class="card interiorCard" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Veiculos/Carros/Bmw/X1/X11.jpg" alt="BMW X1">
            <div class="card-body descriCarros">
                <h5 class="card-title">BMW X1 sDrive20i GP 2021</h5>
                <p class="card-text">R$ 247.950</p>
                <a href="#" class="btn btn-primary">Ver Mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 cardVeiculos">
        <div class="card interiorCard" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Veiculos/Carros/Audi/A4.jpeg" alt="Audi A4">
            <div class="card-body descriCarros">
                <h5 class="card-title">Audi A4 Prestige Plus 40 TFSI S Tronic 2021</h5>
                <p class="card-text">R$ 229.990</p>
                <a href="#" class="btn btn-primary">Ver Mais</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 cardVeiculos">
        <div class="card interiorCard" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Veiculos/Carros/Honda/Civic/Civic1.jpg" alt="Honda Civic">
            <div class="card-body descriCarros">
                <h5 class="card-title">Civic Touring 1.5 Turbo CVT 2021</h5>
                <p class="card-text">R$ 153.600</p>
                <a href="#" class="btn btn-primary">Ver Mais</a>
            </div>
        </div>
    </div>

    <div class="col-md-3 cardVeiculos">
        <div class="card interiorCard" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Veiculos/Carros/Ford/Ecosport/ecosport.jpg" alt="Ford Ecosport">
            <div class="card-body descriCarros">
                <h5 class="card-title">Ford EcoSport FreeStyle 1.5 MT 2021</h5>
                <p class="card-text">R$ 83.996</p>
                <a href="#" class="btn btn-primary">Ver Mais</a>
            </div>
        </div>
    </div>
</div>

<div class="row informacoesConceci">
    <div class="col-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7501.344870130554!2d-43.95467012677067!3d-19.938203860609576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa6977bb074790b%3A0xbd653d4af7283c3c!2sCidade%20Jardim%2C%20Belo%20Horizonte%20-%20MG%2C%2030110-051!5e0!3m2!1spt-BR!2sbr!4v1621802948051!5m2!1spt-BR!2sbr" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div class="col-8 cardClientes">
        <div class="card cardCliente" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Clientes/cliente1.jpg" alt="Cliente 1">
            <div class="card-body depoimentoCli">
                <h5 class="card-title">Viniciu Geovane dos Santos</h5>
                <p class="card-text">Ótimos carros, extrema qualidade.</p>
            </div>
        </div>

        <div class="card cardCliente" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Clientes/Cliente2.jpg" alt="Cliente 2">
            <div class="card-body depoimentoCli">
                <h5 class="card-title">Marcos Pereira de Almeida</h5>
                <p class="card-text">Atendimento perfeito, estou satisfeito!</p>
            </div>
        </div>

        <div class="card cardCliente" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Clientes/Cliente3.jpg" alt="Cliente 3">
            <div class="card-body depoimentoCli">
                <h5 class="card-title">Rosane Rocha Moreira</h5>
                <p class="card-text">Comprei 2 veiculos, ótimo atendimento</p>
            </div>
        </div>

        <div class="card cardCliente" style="width: 18rem;">
            <img class="card-img-top" src="~/images/Clientes/Cliente4.jpg" alt="Cliente 4">
            <div class="card-body depoimentoCli">
                <h5 class="card-title">Camila Jesus de Lucas </h5>
                <p class="card-text">Sai do BB vim comprar meu primeiro veiculo</p>
            </div>
        </div>
    </div>
</div>